@import 'styles/_navigation';
@import 'styles/_header';
@import 'styles/_subheader';
@import 'styles/_about_us';
@import 'styles/_about_me';
@import 'styles/_reviews';
@import 'styles/_tours';
@import 'styles/_our_partners';
@import 'styles/_subfooter';
@import 'styles/_contact';
@import 'styles/footer';

@font-face { font-family: Gilroy; src: url('fonts/Gilroy-Bold.otf'); }



html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px !important;
    overflow-x: hidden;
}

body {
    font-weight: 400;
    font-family: 'Work Sans', sans-serif !important;
    background-color: #F9FAFC;
    color: #000;
    overflow-x: hidden;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
}
.container {
    width: 1140px !important;
}
p {
    line-height: 26px !important;
    font-size: 16px;
}




h1, h2, h3 {
    font-family: 'Gilroy' !important;
}

h1 {
 font-size: 58px !important;
 line-height: 76px !important;
 font-weight: 700 !important;
}

h2 {
line-height: 36px !important;
font-size: 38px !important;
font-weight: 700 !important;
}

h3 {
font-size: 24px !important;
font-weight: 700 !important;
line-height: 36px !important;
}

button, .contact__btn {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    outline: none;
    position: relative;
    
    &:hover {
        opacity: 0.9;
    }
    &:active {
        transform: translateY(4px);
    }
}

.contact__btn {
    padding: $smallBtnPadding;
    background-color: $secondary;
border: none;
width: fit-content !important;
color: #fff !important;
text-decoration: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}



@media only screen and (max-width: 1200px) {
    .wrapper {
        width: 92%;
    }
    }



@media only screen and (max-width: 780px) {
    h1 {
        line-height: 55px !important;
        font-size: 45px !important;
    }
    h2 {
        font-size: 30px !important;
    }
    h3 {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 340px) {
    h1 {
        line-height: 50px !important;
        font-size: 40px !important;
    }
    h2 {
        font-size: 28px !important;
    }
    h3 {
        font-size: 18px !important;
    }
}





