.nav__logo {
  width: 184px;
  height: 46px;
  background-image: url(images/navlogo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation__full {
  background-color: #fff;
  width: 100%;
  z-index: 100;
  position: fixed !important;
}

.nav__content {
  width: 100%;
  height: 76px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links li {
  list-style: none;
}

.links li:not(:last-child) {
  margin-right: 30px;
}

.links li a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #1A1A1A;
}

.nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__right > *:not(:last-child) {
  margin-right: 30px;
}

.nav__right .phone, .nav__right .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__right .phone a, .nav__right .email a {
  margin-left: 10px;
  font-size: 13px;
  color: #22B573;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.nav__right .phone div {
  width: 20px;
  height: 20px;
  background: url(images/nav_icons/phone.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.nav__right .email div {
  width: 20px;
  height: 20px;
  background: url(images/nav_icons/emailsvg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.nav__right button {
  padding: 10px 20px;
  background-color: #22B573;
  border: none;
  color: #fff;
}

.wrapper {
  position: relative;
}

.menu__modal {
  border-top: 1px solid #ddd !important;
  -webkit-transform: translateX(-2000px);
          transform: translateX(-2000px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  top: 76px;
  left: 0;
  right: 0;
  width: 100%;
  min-height: calc(100vh - 76px);
  z-index: 10;
  background-color: #fff;
}

.menu__modal .modal__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.menu__modal .modal__links li {
  list-style: none;
  margin-bottom: 15px;
}

.menu__modal .modal__links li a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #000 !important;
}

.modal__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__contacts > *:not(:last-child) {
  margin-bottom: 15px;
}

.modal__contacts .phone__contact, .modal__contacts .email__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.modal__contacts .phone__contact a, .modal__contacts .email__contact a {
  color: #22B573;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-size: 13px;
}

.modal__contacts .phone__contact span, .modal__contacts .email__contact span {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.modal__contacts .phone__contact span {
  background-image: url(images/nav_icons/phone.png);
}

.modal__contacts .email__contact span {
  background-image: url(images/nav_icons/emailsvg.svg);
}

.modal__contacts button {
  padding: 10px 20px;
  color: #fff;
  background-color: #22B573;
  border: none;
}

.toggle__modal {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hamburger {
  display: none !important;
  margin: 0 !important;
  padding: 2px !important;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: none !important;
}

@media only screen and (max-width: 1200px) {
  .links, .nav__right {
    display: none;
  }
  .hamburger {
    display: inline-block !important;
  }
}

.header {
  width: 100%;
  height: 606px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(images/main_header.png);
}

.header .header__content {
  color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header__content h1 {
  margin-bottom: 20px;
  position: -webkit-sticky;
  position: sticky;
}

.header .header__content p {
  margin-bottom: 30px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.header .header__content button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  background-color: #22b573;
  border: none;
  color: #fff;
}

.sub__header {
  background-color: #604D40;
  position: relative;
  min-height: 200px;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub__header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-image: url(images/subheader_icons/dotted_line.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.subheader__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 1;
      flex: 1;
}

.subheader__content .sub__first, .subheader__content .sub__second, .subheader__content .sub__three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subheader__content .sub__first .sub__info, .subheader__content .sub__second .sub__info, .subheader__content .sub__three .sub__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subheader__content .sub__first .sub__icon, .subheader__content .sub__second .sub__icon, .subheader__content .sub__three .sub__icon {
  margin: auto 0;
  margin-right: 26px;
  width: 45px;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.subheader__content .sub__first .subheader__content__top, .subheader__content .sub__second .subheader__content__top, .subheader__content .sub__three .subheader__content__top {
  font-family: 'Gilroy', sans-serif !important;
  font-size: 34px;
  color: #fff;
  line-height: 46px !important;
}

.subheader__content .sub__first .subheader__content__bottom, .subheader__content .sub__second .subheader__content__bottom, .subheader__content .sub__three .subheader__content__bottom {
  color: #fff;
  font-size: 16px !important;
  line-height: 26px !important;
}

.subicon1 {
  background-image: url(images/subheader_icons/Vector.png);
}

.subicon2 {
  background-image: url(images/subheader_icons/Vector-1.png);
}

.subicon3 {
  background-image: url(images/subheader_icons/Vector-2.png);
}

@media only screen and (max-width: 420px) {
  .subheader__content {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .sub__first:not(:last-child), .sub__second:not(:last-child), .sub__three:not(:last-child) {
    margin-bottom: 30px;
  }
}

.about__us {
  min-height: 506px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__us .about__us__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.about__us .about__us__info h2 {
  margin-bottom: 20px;
  text-align: center;
}

.about__us .about__us__info p {
  text-align: center !important;
  max-width: 538px;
}

.about__us .about__us__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__us .about__us__media .img__card {
  min-height: 260px;
  background-position: center;
  background-size: cover;
}

.about__us .about__us__media .img__card:nth-child(1) {
  background-image: url(images/aboutus/IMG_1002.png);
}

.about__us .about__us__media .img__card:nth-child(2) {
  background-image: url(images/aboutus/JMP_7677.png);
}

.about__us .about__us__media .img__card:nth-child(3) {
  background-image: url(images/aboutus/JMP_7791.png);
}

.about__us .about__us__media .img__card:nth-child(4) {
  background-image: url(images/aboutus/JMP_8216.png);
}

@media only screen and (max-width: 680px) {
  .about__us .about__us__info p {
    width: 100%;
  }
}

.about__me__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 390px;
  margin: 0 auto;
  margin-bottom: 150px;
  margin-top: 70px;
}

.about__me__content h2 {
  margin-bottom: 20px;
}

.about__me__img {
  min-width: 560px;
  background-image: url(images/aboutme/JMP_7700.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about__me__info {
  padding: 15px 0 15px 30px;
}

.about__me__info p:nth-child(2) {
  margin-bottom: 20px;
}

.about__me__info p:nth-child(3) {
  margin-bottom: 20px;
}

.about__me__info p:nth-child(4) {
  margin-bottom: 30px;
}

.about__me__info h3 {
  margin-bottom: 15px;
}

.about__me__info .media__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__me__info .media__icon {
  width: 44px;
  height: 44px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

.about__me__info .media__icon:nth-child(1) {
  background-image: url(images/media_icons/delfi-og-image.svg);
  width: 83px;
  margin-right: 44px;
}

.about__me__info .media__icon:nth-child(2) {
  background-image: url(images/media_icons/15min_logotipas.svg);
  margin-right: 44px;
}

.about__me__info .media__icon:nth-child(3) {
  background-image: url(images/media_icons/1200px-TV3_Group_Logo.svg);
  margin-right: 44px;
}

.about__me__info .media__icon:nth-child(4) {
  background-image: url(images/media_icons/LRT_logotipas2012.svg);
}

@media only screen and (max-width: 960px) {
  .about__me__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__me__img {
    min-width: 100%;
    min-height: inherit;
  }
  .about__me__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding: 0;
    padding-top: 20px;
  }
  .media__icon {
    width: 38px;
    height: 38px;
  }
}

@media only screen and (max-width: 415px) {
  .media__icon:nth-child(1) {
    margin-right: 20px !important;
  }
  .media__icon:nth-child(2) {
    margin-right: 20px !important;
  }
  .media__icon:nth-child(3) {
    margin-right: 20px !important;
  }
}

.reviews {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews h2 {
  margin-bottom: 30px;
  text-align: center;
}

.review__card {
  min-height: 280px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 15px;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.review__card p:first-of-type {
  margin-bottom: 20px;
}

.review__card .quotes {
  width: 28px;
  height: 28px;
  margin-bottom: 24px;
  background-image: url(images/reviews_media/quotes.png);
}

.reviewer__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviewer__details .profile__img {
  width: 52px;
  height: 52px;
  margin-right: 10px;
}

.reviewer__details .profile__img.person1, .reviewer__details .profile__img .person2 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.reviewer__details .profile__img.person1 {
  background-image: url(images/reviews_media/person1.png);
}

.reviewer__details .profile__img.person2 {
  background-image: url(images/reviews_media/person2.png);
}

.reviewer__details .reviewer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviewer__details .reviewer__info .name {
  font-weight: 600;
  margin: 0 !important;
}

.reviewer__details .reviewer__info .location {
  font-size: 13px;
  margin: 0 !important;
  padding: 0 !important;
}

.tours {
  position: relative;
  min-height: 560px;
}

.tours h2 {
  padding-top: 20px;
  margin-bottom: 30px;
}

.tours::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: -300px;
  top: 30%;
  z-index: -1;
  background-image: url(images/reviews_media/Frame.svg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour__cards {
  padding-bottom: 220px;
}

.tour__card {
  position: relative;
  padding: 15px 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.tour__card h3 {
  margin-bottom: 10px;
}

.tour__contact__btn {
  margin-top: 20px;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #22B573;
  text-align: center;
  border: none;
  width: 100% !important;
  color: #fff !important;
  text-decoration: none !important;
}

.if__neccessary__line {
  margin-top: 20px;
  margin-bottom: 10px;
}

.body__text {
  margin-bottom: 20px;
  color: #333333 !important;
}

.tour__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tour__info h3 {
  margin-bottom: 10px;
}

.tour__info .line__text {
  margin-bottom: 5px;
}

.tour__info .check__icon {
  background-image: url(images/check.png);
  background-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  background-repeat: no-repeat;
  min-width: 24px;
  min-height: 24px;
  margin-right: 14px;
}

.partners__wrapper {
  padding-bottom: 100px;
}

.partners__wrapper h3 {
  margin-bottom: 40px;
  text-align: center;
}

.partners {
  max-width: 690px;
  min-height: 207px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners > *:not(last-child) {
  margin-right: 15px;
  margin-bottom: 40px;
}

.partners .partner__icon {
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners .partner__icon:nth-child(1) {
  background-image: url(images/partner_icons/seb.svg);
}

.partners .partner__icon:nth-child(2) {
  background-image: url(images/partner_icons/swed.svg);
}

.partners .partner__icon:nth-child(3) {
  background-image: url(images/partner_icons/teliasvg.svg);
}

.partners .partner__icon:nth-child(4) {
  background-image: url(images/partner_icons/vdu.svg);
}

.partners .partner__icon:nth-child(5) {
  background-image: url(images/partner_icons/bite.svg);
}

.partners .partner__icon:nth-child(6) {
  background-image: url(images/partner_icons/lrsm.svg);
}

.partners .partner__icon:nth-child(7) {
  background-image: url(images/partner_icons/lt_bankas.svg);
}

.partners .partner__icon:nth-child(8) {
  background-image: url(images/partner_icons/vu.svg);
}

@media only screen and (max-width: 392px) {
  .partners {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.subfooter__img__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.subfooter__img__wrapper .subfooter__img {
  min-width: 250px;
  width: calc(100% / 5);
  min-height: 300px;
  max-width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.subfooter__img__wrapper .subfooter__img:nth-child(1) {
  background-image: url(images/subfooter_images/AA_2017-10-28_006.png);
}

.subfooter__img__wrapper .subfooter__img:nth-child(2) {
  background-image: url(images/subfooter_images/AA_2017-10-28_012.png);
}

.subfooter__img__wrapper .subfooter__img:nth-child(3) {
  background-image: url(images/subfooter_images/CommmGKA.png);
}

.subfooter__img__wrapper .subfooter__img:nth-child(4) {
  background-image: url(images/subfooter_images/AA_2017-10-28_024.png);
}

.subfooter__img__wrapper .subfooter__img:nth-child(5) {
  background-image: url(images/subfooter_images/AA_2017-10-28_041.png);
}

@media only screen and (max-width: 560px) {
  .subfooter__img__wrapper .subfooter__img {
    max-width: 100%;
    min-width: 100%;
  }
}

.contact__wrapper {
  background-color: #23885B;
  margin-top: -100px;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  background-color: #fff;
  width: 100%;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact__form h2 {
  margin-bottom: 20px;
}

.upper__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upper__inputs .name__input, .upper__inputs .email__input {
  width: 100%;
}

.upper__inputs .name__input label, .upper__inputs .email__input label {
  color: #555555 !important;
}

.upper__inputs .name__input input, .upper__inputs .email__input input {
  padding: 5px;
  width: 100%;
  min-width: 100px;
  height: 41px;
  background-color: #F4F6FC;
  border: none;
  width: 100% !important;
}

.upper__inputs .name__input {
  margin-right: 10px;
}

.mailResponseText {
  margin: 0 !important;
}

.textarea_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.textarea_wrapper p {
  margin: 20px 0 10px 0;
  color: #555555 !important;
}

.textarea_wrapper .text__area {
  background-color: #F4F6FC;
  width: 100%;
  border: none;
  padding: 5px;
  resize: none;
  min-height: 202px;
}

.textarea_wrapper button {
  background-color: #22B573;
  padding: 10px 20px;
  border: none;
  color: #fff;
  margin-top: 20px;
}

.contact__container {
  width: 100%;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact__container .requisites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
}

.contact__container .requisites h3 {
  margin-bottom: 20px;
}

.contact__container .requisites .r__email {
  margin-top: 30px;
}

.contact__container .requisites .r__number {
  margin-top: 15px;
}

.contact__container .requisites__media {
  background-image: url(images/contactform_img/peoplesvg.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.follow__us__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  padding-bottom: 40px;
  color: #fff;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.follow__us__social h2 {
  margin-right: 30px;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.social__icon {
  cursor: pointer;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.social__icon:not(:last-child) {
  margin-right: 30px;
}

.social__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fb {
  background-image: url(images/social_icons/icon3.svg);
}

.insta {
  background-image: url(images/social_icons/icon2.svg);
}

.linkedin {
  background-image: url(images/social_icons/icon1.svg);
}

@media only screen and (max-width: 800px) {
  .form__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__container {
    padding-left: 0;
    padding-top: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .contact__wrapper {
    margin-top: -130px;
  }
}

@media only screen and (max-width: 1140px) {
  .upper__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .upper__inputs .name__input {
    margin-bottom: 10px;
  }
}

.footer {
  background-color: #000000;
  min-height: 86px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@font-face {
  font-family: Gilroy;
  src: url("fonts/Gilroy-Bold.otf");
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px !important;
  overflow-x: hidden;
}

body {
  font-weight: 400;
  font-family: 'Work Sans', sans-serif !important;
  background-color: #F9FAFC;
  color: #000;
  overflow-x: hidden;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

.container {
  width: 1140px !important;
}

p {
  line-height: 26px !important;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Gilroy' !important;
}

h1 {
  font-size: 58px !important;
  line-height: 76px !important;
  font-weight: 700 !important;
}

h2 {
  line-height: 36px !important;
  font-size: 38px !important;
  font-weight: 700 !important;
}

h3 {
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 36px !important;
}

button, .contact__btn {
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  outline: none;
  position: relative;
}

button:hover, .contact__btn:hover {
  opacity: 0.9;
}

button:active, .contact__btn:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.contact__btn {
  padding: 10px 20px;
  background-color: #22B573;
  border: none;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  color: #fff !important;
  text-decoration: none !important;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 92%;
  }
}

@media only screen and (max-width: 780px) {
  h1 {
    line-height: 55px !important;
    font-size: 45px !important;
  }
  h2 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 340px) {
  h1 {
    line-height: 50px !important;
    font-size: 40px !important;
  }
  h2 {
    font-size: 28px !important;
  }
  h3 {
    font-size: 18px !important;
  }
}
/*# sourceMappingURL=mainStyles.css.map */