
.about__us {
    min-height: 506px;
    display: flex;
    flex-direction: column;
    .about__us__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 70px;
        padding-bottom: 70px;
        h2 {
            margin-bottom: 20px;
            text-align: center;
        }
        p {
            text-align: center !important;
            max-width: 538px;
        }
    }
    .about__us__media {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        .img__card {
        min-height: 260px;
        background-position: center;
        background-size: cover;
        &:nth-child(1) {
            background-image: url(images/aboutus/IMG_1002.jpg);
        }
        &:nth-child(2) {
            background-image: url(images/aboutus/JMP_7677.jpg);
        }
        &:nth-child(3) {
            background-image: url(images/aboutus/JMP_7791.jpg);
        }
        &:nth-child(4) {
            background-image: url(images/aboutus/JMP_8216.jpg);
        }
        }
       
    }
}


@media only screen and (max-width: 680px) {
    .about__us {
        .about__us__info {
            p {
               width: 100%;
            }
           }
    }
}


        
   
