.subfooter__img__wrapper {
    min-height: 300px; 
    
    .subfooter__img {
        min-height: inherit;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        &:nth-child(1) {
            background-image: url(images/subfooter_images/AA_2017-10-28_006.jpg);
        }
        &:nth-child(2) {
            background-image: url(images/subfooter_images/AA_2017-10-28_012.jpg);
        }
        &:nth-child(3) {
            background-image: url(images/subfooter_images/CommmGKA.jpg);
        }
        &:nth-child(4) {
            background-image: url(images/subfooter_images/AA_2017-10-28_024.jpg);
        }
        &:nth-child(5) {
            background-image: url(images/subfooter_images/AA_2017-10-28_041.jpg);
        }
    }
}


