.subfooter__img__wrapper {
    display: flex;
    min-height: 300px; 
    flex-wrap: wrap;
    justify-content: flex-start;
    
    .subfooter__img {
        min-width: 250px;
        width: calc(100% / 5);
        min-height: 300px;
        max-width: 50%;
        flex: 1;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        &:nth-child(1) {
            background-image: url(images/subfooter_images/AA_2017-10-28_006.jpg);
        }
        &:nth-child(2) {
            background-image: url(images/subfooter_images/AA_2017-10-28_012.jpg);
        }
        &:nth-child(3) {
            background-image: url(images/subfooter_images/CommmGKA.jpg);
        }
        &:nth-child(4) {
            background-image: url(images/subfooter_images/AA_2017-10-28_024.jpg);
        }
        &:nth-child(5) {
            background-image: url(images/subfooter_images/AA_2017-10-28_041.jpg);
        }
    }
}


@media only screen and (max-width: 560px) {
    .subfooter__img__wrapper {
        .subfooter__img {
            max-width: 100%;
            min-width: 100%;
        }

    }
}


